<!-- Basic template structure - copy and paste on projects-working.html -->


<div class="row">
  <h1 class="th-project-title col">Theresia Anna Ficus</h1>
</div>
<div class="th-project-main row">
  <div class="th-project-thumb col-4 hidden-sm-down">
      {image 7}
  </div>
  <div class="th-project-info col-8">
    <blockquote>
      <i>The cinema is there to heighten the imagination; I have always tried to make sure it does so.</i>
    </blockquote>
    <small class="float-right">Kenn Adam</small>

    <div style="display: block; height: 50px;"></div>

    <p>Seeing myself dedicated to the story that is about to be told on screen, I always try first to understand their characters. I try to understand where they are coming from and what has made them the way they seem to be at the moment I meet them. I belief that there lays some magic in all stories. Trying to feel its need and its distortion, I want to create worlds that make the invisible to be seen.</p>

    <a href="https://drive.google.com/file/d/1TyQwZLgseeymHgSuZfzQ9jZ69In-N5HZ/view?usp=sharing" target="_blank">
      <i>CV as pdf</i>
    </a>
</div>








<!-- OLD INFORMATION -->
<b>Education</b>
2013 • Diploma as Production Designer 2009-2013 • Film University Babelsberg Konrad Wolf, post-graduate study in Production
Design, Prof. Lothar Holler 2009 • Diploma as Stage Designer 2008-2009 • University of the Arts London/ Wimbledon College,
Production Design , Prof. Chris Dyer 2006-2008 • Karlsruhe University of Arts and Design, Scenography, Prof. Penelope Wehrli
& Prof. Beatrix von Pilgrim and Philosophy, Prof. Boris Groys 2004-2006 • Stuttgart State Academy of Art and Design, Stage
Design, Prof. Martin Zehetgruber

<b>
  <i>Filmography as Production Designer</i>
</b>

2017
<a href="http://theresiaannaficus.com/TATORT-MUROT-UND-DAS-MURMELTIER-2018" target="_blank">TATORT - MUROT UND DAS MURMELTIER</a>
<i>- in post-production -</i>
Dir.: Dietrich Brüggemann HR, ARD

<a href="http://theresiaannaficus.com/CYRANO-DE-BERGERAC" target="_blank">CYRANO DE BERGERAC</a>
Dir.: Leander Haußmann Thalia Theater 2016
<a href="http://www.hr-online.de/website/derhr/home/presse_meldung_einzel.jsp?rubrik=59249&key=presse_lang_56272326" target="_blank">GOSTER</a> (90 min.) Dir.: Didi Danquart HR, ARD

<a href="http://www.weydemannbros.com/index.php/sexcrime.116.html" target="_blank">SEX & CRIME</a> (82 min.) Dir.: Paul Florian Müller Weydemann Bros. 2014/15
<a href="http://www.realfilm-berlin.de/de/produktionen/in-produktion/362-heil" target="_blank">HEIL</a> (102 min.) Dir.: Dietrich Brüggemann Studio Hamburg, Real Film 2013
<a href="http://www.zdf.de/das-kleine-fernsehspiel/stunde-des-boesen-die-frau-hinter-der-wand-grzegorz-muskala-thriller-das-kleine-fernsehspiel-32028378.html"
  target="_blank">DIE FRAU HINTER DER WAND</a> (90min.) Dir.: Grzegorz Muskala One Two Film / ZDF - Das kleine Fernsehspiel

<a href="http://www.haialarm-derfilm.de" target="_blank">HAI-ALARM AM MÜGGELSEE</a> (103min.) Dir.: Leander Haußmann & Sven Regener X Filme Creative Pool 2012 PITCH BUILDS A BALL
AND DESTROYS IT (30min.) Dir.: Udita Bhargava University of Film and Television "Konrad Wolf" RAUCH (30min.) Dir.: Franziska
Krentzien Academy of film and Television / RBB INNOCENCE IN DANGER - OFFLINE Dir.: Jonas Schweizer-Faust JSF-Produktion DER
MAGIER 3D (7min) Dir.: Tom Schildberg HFF Potsdam/Insight-Out 2011 1949 (17min) Dir.: Paul Florian Müller WeydemannBros.
SUNNY & ROSWITHA (15min) Dir.: Barnaby Metschurat WilsonMetschurat GbR WAS MAN ZUM LEBEN BRAUCHT (15min) Dir.: Connie Walther
HFF Potsdam EINFACH SO (12min) Dir.: Aelrun Goette HFF Potsdam EIN PERFEKTES DINNER (3min) Dir.: Anja Läufer & Theresia Anna
Ficus HFF Potsdam 2006 DIE ZEIT IM DUNKELN (15min) Dir.: Paul Florian Müller Lazi Akademie

<b>
  <i>Other positions in film productions</i>
</b>
2017 BEAT (7-teilige Serie)
<i>- in production-</i>
Dir.: Marco Kreuzpaintner Production Design: Silke Buhr Set Decorator: Theresia Anna Ficus Hellinger/Doll Filmproduktion
GmbH 2016
<a href="http://theresiaannaficus.com/admin/" target="_blank">WERK OHNE AUTOR</a>
<i>- in post-production -</i>
Dir.: Florian Henckel von Donnersmarck Production Design: Silke Buhr Art Director: Theresia Anna Ficus Wiedemann & Berg Filmproduktion
GmbH 2015
<a href="http://theresiaannaficus.com/admin/" target="_blank">TRAUMFRAUEN</a>
Dir.: Anika Decker Production Designer: Michael Binzer Set Decorator: Theresia Anna Ficus Hellinger / Doll Filmproduktion
GmbH DRUNTER UND BRÜDER Dir.: Ulli Baumann Production Designer: Silke Buhr Assistant Production Designer: Theresia Anna Ficus
Olga Film GmbH 2014
<a href="http://theresiaannaficus.com/admin/" target="_blank">JACK</a>
Dir.: Edward Berger Production Designer: Christiane Rothe Art Director: Theresia Anna Ficus Port au Prince Film und Kultur
Produktion GmbH

<a href="http://www.imdb.com/title/tt3042408/" target="_blank">WHO AM I</a>
Dir.: Baran bo Odar Production Designer: Silke Buhr Set Dresser: Theresia Anna Ficus Wiedemann und Berg GmbH & Co. KG

<b>Festival Design</b>
2011 SEHSÜCHTE (40th International Student film festival)

<b>Stage Design</b>
2017 CYRANO DE BERGERAC Dir.: Leander Haußmann Thalia Theater Hamburg

<b>Assistant Stage Designer </b>
2008 THE ADVENTURES OF MR BROUCEK Dir.: Axel Weidauer Stage-Designer: Moritz Nitsche Oper Frankfurt 2007 THE MARRIAGE OF
FIGARO Dir.: Guillaume Bernardi Stage-Designer: Moritz Nitsche Oper Frankfurt 2005 CURLEW RIVER Dir. Axel Weidauer Stage-Designer
Moritz Nitsche Oper Frankfurt BASTIEN ET BASTIENNE Dir.: Dirk Schulz Stage-Designer: Eva-Mareike Uhlig Théatre du Tambour
Royal Paris

<b>Skills</b>
AutoCAD, Maya, SketchUp, Photoshop, InDesign, Illustrator, AfterEfects, Model-Making, Studiosets

<b>Languages</b>
German (native) English (fluent) French (conversant) Spanish (conversant)

<a href="https://drive.google.com/file/d/1TyQwZLgseeymHgSuZfzQ9jZ69In-N5HZ/view?usp=sharing" target="_blank">
  <i>CV as PDF</i>
</a>