<div class="row">
  <h1 class="col">Contact</h1>
</div>
<div class="row">
  <a class="col" href="mailto:mail@theresiaannaficus.com">mail@theresiaannaficus.com</a>
</div>
<div class="row">
  <p class="col-12">Represented by</p>
  <strong class="col-12">AGENTUR SANDRA SCHUPPACH</strong>
  <i class="col-12" style="margin-bottom: 10px;">Management for Feature Film Creatives</i>
  <div class="col-12">(A)  T +43 676 920 38 43</div>
  <div class="col-12">(D)  T +49 178 816 35 34</div>
</div>
<div class="row">
  <a class="col-12" href="sandra@s-schuppach.com" target="_blank">sandra@s-schuppach.com</a>
  <a class="col-12" href=" www.s-schuppach.com" target="_blank">www.s-schuppach.com</a>
</div>
