<div class="row">
    <h1 class="th-project-title col">Jack</h1>
  </div>
  <div class="row">
    <div class="th-project-thumb col-4 hidden-sm-down">
      {image 11}
    </div>
    <div class="th-project-info col-8">
      <div>Director:
        <a href="http://www.edwardberger.de/swf/main.html" target="_blank">Edward Berger</a>
      </div>
      <div>Screenplay:
        <a href="http://www.imdb.com/name/nm0611126/" target="_blank">Nele Mueller-Stöfen</a> &
        <a href="http://www.edwardberger.de/swf/main.html" target="_blank">Edward Berger</a>
      </div>
      <div>Producer:
        <a href="http://www.imdb.com/name/nm1636530/" target="_blank">Jan Krüger</a>
      </div>
      <div>DoP:
        <a href="http://www.imdb.com/name/nm0361819/" target="_blank">Jens Harant</a>
      </div>
      <div>Production Designer:
        <a href="http://www.imdb.com/name/nm2447180/" target="_blank">Christiane Rothe</a>
      </div>
      <div>Art Director: Theresia Anna Ficus</div>
      <div>Costume Designer:
        <a href="http://www.imdb.com/name/nm0910639/" target="_blank">Esther Walz</a>
      </div>
      <div>Production Company:
        <a href="http://port-prince.de" target="_blank">Port au Prince Film- und Kulturproduktion</a>
      </div>
      <div>Distributor:
        <a href="http://www.camino-film.com" target="_blank">Camino Filmverleih</a>
      </div>
      <div>Actors:
        <a href="http://www.imdb.com/name/nm4533391/" target="_blank">Luise Heyer</a>, <a href="http://www.imdb.com/name/nm6222008/" target="_blank">Ivo Pietzcker</a>,
        <a href="http://www.imdb.com/name/nm1559784/" target="_blank">Vincent Redetzki</a>,
        <a href="http://www.imdb.com/name/nm0559326/" target="_blank">Jacob Matschenz</a> 
      </div>
      <div class="th-project-sub-info">2014, 103 min</div>
      <div class="th-project-sub-info">Festivals:
        <ul>
          <li>
            <a href="http://www.berlinale.de/en/presse/pressemitteilungen/wettbewerb/wettbewerb-presse-detail_21396.html" target="_blank">Berlinale 2014, competition</a>
          </li>
        </ul>
      </div>
      <div>Awards:
        <ul>
          <li>
            <a href="http://www.deutsche-filmakademie.de/fileadmin/downloads/DFP2015/Nominierungen_2015.pdf" target="_blank">Nomination for the German Film Price 2015</a>
          </li>
        </ul>
      </div>
      <div class="th-project-sub-info">
         <a href="https://www.amazon.de/Jack-Ivo-Pietzcker/dp/B014STMRN6/ref=sr_1_1?ie=UTF8&qid=1513547221&sr=8-1&keywords=jack" target="_blank"> >> WATCH IT!</a>
      </div>
    </div>
  </div>
  
  <!-- Trailer if any -->
  <div class="row">
    <div class="iframe-wrapper">
      <iframe src="//www.youtube.com/embed/Yq93x9xHq3I" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <!-- Trailer if any -->