<!-- Basic template structure - copy and paste on projects-working.html -->

<!-- Title -->
<div class="row">
  <h1 class="th-project-title col">Title of the Project</h1>
</div>
<!-- Title -->

<!-- Thumb and Info -->
<div class="th-project-main row">
  <div class="th-project-thumb col-4 hidden-sm-down">
    {Thumbnail image number xxx}
  </div>
  <div class="th-project-info col-8">
    <div>Director:
      <a href="http://www.edwardberger.de/swf/main.html" target="_blank">EDWARD BERGER</a>
    </div>
    <div>Screenplay:
      <a href="http://www.imdb.com/name/nm0611126/" target="_blank">NELE MUELLER-STÖFEN</a> &amp;
      <a href="http://www.edwardberger.de/swf/main.html" target="_blank">EDWARD BERGER</a>
    </div>
    <div>Producer:
      <a href="http://www.imdb.com/name/nm1636530/" target="_blank">JAN KRÜGER</a>
    </div>
    <div>DoP:
      <a href="http://www.imdb.com/name/nm0361819/" target="_blank">JENS HARANT</a>
    </div>
    <div>Production Designer:
      <a href="http://www.imdb.com/name/nm2447180/" target="_blank">CHRISTIANE ROTHE</a>
    </div>
    <div>Art Director: THERESIA ANNA FICUS</div>
    <div>Costume Designer:
      <a href="http://www.imdb.com/name/nm0910639/" target="_blank">ESTHER WALZ</a>
    </div>
    <div>Production Company:
      <a href="http://port-prince.de" target="_blank">Port au Prince Film- und Kulturproduktion</a>
    </div>
    <div>Distributor:
      <a href="http://www.camino-film.com" target="_blank">Camino Filmverleih</a>
    </div>
    <div>Actors:
      <a href="http://www.imdb.com/name/nm4533391/" target="_blank">LUISE HEYER</a>, IVO PIETZCKER, GEORG ARMS,
      <a href="http://www.imdb.com/name/nm1559784/" target="_blank">VINCENT REDETZKI</a>,
      <a href="http://www.imdb.com/name/nm0559326/" target="_blank">JACOB MATSCHENZ</a>,
      <a href="http://www.imdb.com/name/nm0611126/" target="_blank">NELE MUELLER-STÖFEN</a>
    </div>
    <div>Festivals:
      <ul>
        <li>
          <a href="http://www.berlinale.de/en/presse/pressemitteilungen/wettbewerb/wettbewerb-presse-detail_21396.html" target="_blank">Berlinale 2014, competition</a>
        </li>
      </ul>
    </div>
    <div>Awards:
      <ul>
        <li>
          <a href="http://www.deutsche-filmakademie.de/fileadmin/downloads/DFP2015/Nominierungen_2015.pdf" target="_blank">Nomination for the German Film Price 2015</a>
        </li>
      </ul>
    </div>
    <div>2014, 103 min</div>
    <div>
      <a href="https://www.amazon.de/Jack-Ivo-Pietzcker/dp/B0101KI3ZW/ref=sr_1_2?ie=UTF8&qid=1483122601&sr=8-2&keywords=jack" target="_blank">> WATCH IT!</a>
    </div>
  </div>
</div>
<!-- Thumb and Info -->

<!-- Trailer if any -->
<div class="row">
  <div class="iframe-wrapper">
    <iframe src="//www.youtube.com/embed/Yq93x9xHq3I" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<!-- Trailer if any -->

<!-- Images -->
<div class="th-project-images row">
  <!-- Repeat for as many images as you want -->
  <div class="col-lg-3 col-md-4 col-xs-6">{image 1}</div>
  <div class="col-lg-3 col-md-4 col-xs-6">{image 2}</div>
  <div class="col-lg-3 col-md-4 col-xs-6">{image 3}</div>
  <div class="col-lg-3 col-md-4 col-xs-6">{image 5}</div>
  <div class="col-lg-3 col-md-4 col-xs-6">{image 8}</div>
  <div class="col-lg-3 col-md-4 col-xs-6">{image 7}</div>
  <div class="col-lg-3 col-md-4 col-xs-6">{image 12}</div>
  <div class="col-lg-3 col-md-4 col-xs-6">{image 18}</div>
  <div class="col-lg-3 col-md-4 col-xs-6">{image 19}</div>
  <div class="col-lg-3 col-md-4 col-xs-6">{image 9}</div>
  <div class="col-lg-3 col-md-4 col-xs-6">{image 13}</div>
  <div class="col-lg-3 col-md-4 col-xs-6">{image 17}</div>
  <div class="col-lg-3 col-md-4 col-xs-6">{image 4}</div>
  <!-- Repeat for as many images as you want -->
</div>
<!-- Images -->
